In [13]:
from preprocessing import DataLoader, DataProcessor

# Initialize the DataLoader
data_loader     = DataLoader()
data_processor  = DataProcessor()

df_satimage, labels_satimage= data_loader.load_arff_data("satimage")
df_splice, labels_splice    = data_loader.load_arff_data("splice")
df_vowel, labels_vowel      = data_loader.load_arff_data("vowel")


df_satimage = data_processor.preprocess_dataset(df_satimage)
df_splice   = data_processor.preprocess_dataset(df_splice)
df_vowel    = data_processor.preprocess_dataset(df_vowel)

In [15]:
# Combine the data and labels for reference but separate the label for duplicate calculation
df_splice_combined = df_splice.copy()
df_splice_combined['label'] = labels_splice

# Find duplicates in `df_splice` without considering the labels
duplicates_no_label = df_splice[df_splice.duplicated(keep=False)]

# Map labels to the duplicated rows for easier viewing
duplicates_with_labels = duplicates_no_label.copy()
duplicates_with_labels['label'] = labels_splice[duplicates_no_label.index]

# Print duplicates and their corresponding labels
print("Duplicated Rows (ignoring labels) and their Labels:")
display(duplicates_with_labels)

Duplicated Rows (ignoring labels) and their Labels:

,attribute_1_A,attribute_1_C,attribute_1_D,attribute_1_G,attribute_1_T,attribute_2_A,attribute_2_C,attribute_2_D,attribute_2_G,attribute_2_T,...,attribute_59_C,attribute_59_G,attribute_59_N,attribute_59_T,attribute_60_A,attribute_60_C,attribute_60_G,attribute_60_N,attribute_60_T,label
1021,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,IE
1968,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,N